<div>
  <p-table [value]="students">
    <ng-template pTemplate="header">
      <tr>
        <th colspan="3">First name</th>
        <th colspan="3">Last name</th>
        <th colspan="5">Courses</th>
        <th colspan="1"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
      <tr>
        <td colspan="3"><a [routerLink]="'/students/' + student.id" >{{ student.firstname }}</a></td>
        <td colspan="3">{{ student.lastname }}</td>
        <td colspan="5">{{ student.getCourses }}</td>
        <td colspan="1">
          <button (click)="removeStudent(student)">
            <i class="pi pi-trash"></i>
          </button> 
        </td>
      </tr>
    </ng-template>
  </p-table>


  <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
      <ng-template let-message pTemplate="message">
          <div style="text-align: center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
              <h3>{{message.summary}}</h3>
              <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
              <div class="ui-g-6">
                  <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
              </div>
              <div class="ui-g-6">
                  <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
              </div>
          </div>
      </ng-template>
  </p-toast>

</div>
