<div class="container">

  <div>
    <form [formGroup]="studentForm">
      <div class="input-wrapper">
        <input type="text" pInputText placeholder="Firstname"
              formControlName="firstname">

        <p-message severity="error" 
                  text="Firstname is required"
                  *ngIf="isFieldInvalid('firstname')">
        </p-message>
      </div>
      <div class="input-wrapper">
        <input type="text" pInputText placeholder="Lastname"
              formControlName="lastname">

        <p-message severity="error" 
                  text="Lastname is required"
                  *ngIf="isFieldInvalid('lastname')">
        </p-message>
      </div>
      <div class="multiselect-wrapper">
        <label>Courses</label>
        <p-multiSelect [options]="courseOptions" formControlName="courses">
        </p-multiSelect>
      </div>

      <div>
        <p-button [disabled]="!studentForm.valid" (click)="addStudent()" label="Add student"></p-button>
      </div>
    </form>
  </div>

  <p-toast [style]="{marginTop: '80px'}"></p-toast>



</div>