<div class="container">
  <div class="login-container">
    <h2 class="text-center">Login</h2>

    
    <form [formGroup]="loginForm">
      <input type="text" pInputText placeholder="Username"
              formControlName="username">
      
      <p-message severity="error" 
                 text="Username is required"
                *ngIf="isFieldInvalid('username')">
      </p-message>

      <input type="password" pPassword placeholder="Password" 
              formControlName="password" [feedback]="false"/>

      <p-message severity="error" 
                 text="Password is required"
                 *ngIf="isFieldInvalid('password')">
      </p-message>
      
      <button pButton type="button" label="Login" (click)="login()"
              [disabled]="!loginForm.valid">
      </button>
    </form>
    

  </div>
</div>