.login-container {
  width: 320px;
  margin: auto;
  margin-top: 100px;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 15px;
  
}

h2 { 
  margin-bottom: 30px;
}

input { 
  width: 100%;
  margin: 10px 0px;
}

button {
  display: block;
  margin-top: 50px;
}