<div class="container">

  <div *ngIf="activeTab == 0">
    <div>
      <h1>
        Student overview
        <span>
          <p-button label="+ Add student" (click)="activeTab = 1"></p-button>
        </span>
      </h1>
      
    </div>
    <div>
      <students-table [students]="students" (updateStudents)="refreshStudents()"></students-table>
      <p-paginator [rows]="paging.pageSize" 
                  [totalRecords]="totalStudents" 
                  (onPageChange)="changePage($event)">
      </p-paginator>
    </div>
  </div>

  <div *ngIf="activeTab == 1">
    <span class="crs" (click)="activeTab = 0">
      <i class="pi pi-arrow-left"></i>Back
    </span>
    <h1>Add student</h1>
    <add-student (studentAdded)="studentAdded()"></add-student>
  </div>


</div>