<div class="container">

  <span class="crs" (click)="goBack()">
    <i class="pi pi-arrow-left"></i>Back
  </span>
  <h2>Student details</h2>

  <div class="row data-container">
    <div class="col-md-2">
      <span>First name: </span>
      <span>Last name: </span>
      <span>Courses: </span>
    </div>
    <div class="col-md-4">
      <span>{{ student.firstname }}</span>
      <span>{{ student.lastname }}</span>
      <p-multiSelect [options]="courseOptions" [(ngModel)]="selectedCourses"></p-multiSelect>
    </div>
    
  </div>

  <div>
    <p-button label="Update" (click)="updateCourses()"></p-button>
  </div>

  <p-toast [style]="{marginTop: '80px'}"></p-toast>


</div>